.chatItem {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    height: auto;
}

.chatItem:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.chatItem img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: contain;
    border: 1px solid #f0f0f0;
}

.chatItem .body {
    min-width: 180px;
    max-width: 180px;
}

.chatItem .chatName {
    font-size: 16px;
    color: #2e2e2e;
    margin-bottom: 8px;
    font-weight: bold;
}

.chatItem .content {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    font-style: italic;
}

.chatItem .option {
    display: inline;
    align-self: flex-start;
    align-items: end;
    gap: 5px;
    font-size: 12px;
    margin-left: auto;
}