.account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    position: relative;
}

.account:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.account .icon.active {
    animation: rotateHalf 0.5s ease-in-out forwards;
}

.account .icon.inActive {
    animation: rotateHalfNext 0.5s ease-in-out forwards;
}

.account .avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    font-weight: 500;
    color: gray;
}

.account .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.account .subMenu {
    display: block;
    position: absolute;
    width: 100%;
    top: 110%;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
}

.account .subMenu.active {
    animation: shake 0.5s ease-in-out;
}

.account .subMenu.inActive {
    display: none;
}

.account .subMenu .item {
    padding: 10px;
    color: gray;
    font-size: 14px;
    border-radius: 5px;
}

.account .subMenu .item:nth-child(3) {
    color: red;
}

.account .subMenu .item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
    user-select: none;
}

.container .lable {
    margin-bottom: 10px;
    color: #3498db;
}

.container .guide {
    margin-top: 10px;
    color: #7f8c8d;
    text-align: center;
    font-size: 14px;
}

.container .error {
    color: red;
    font-size: 14px;
    align-self: flex-start;
    margin-bottom: 10px;
}

.container .error:nth-of-type(3) {
    margin-top: 10px;
}

.container .emailGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 10px 0;
}

.container .emailGroup input {
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    padding: 15px;
    color: #7f8c8d;
    font-size: 16px;
}

.container .emailGroup .btnSend {
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border: none;
    padding: 15px 20px;
}

.container input {
    width: 100%;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    padding: 15px;
    color: #7f8c8d;
    font-size: 16px;
}

.container input:focus,
.container .emailGroup input:focus {
    outline: none;
    border: 1px solid #3498db;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .btnVerify {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

.container .btnVerify:hover,
.container .btnSend:hover {
    background-color: #2980b9;
}

@keyframes shake {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes rotateHalf {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotateHalfNext {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}