.container {
    width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 12px;
    margin-top: 20px;
}

.container a {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-style: italic;
    text-decoration: none;
    color: #3498db;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    padding: 30px 40px;
}

.form .globalError {
    text-align: start;
    color: red;
    margin-bottom: 15px;
    font-size: 14px;
}

.formGroup {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 10px;
}

.form input {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 14px;
    color: gray;
}

.form input:focus {
    outline: none;
}

.form .buttonShowPassword {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 14px;
    cursor: pointer;
    opacity: 0.8;
}

.form .buttonSubmit {
    background-color: rgb(1, 144, 243);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 14px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0.6;
}

.form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    padding: 14px;
    border-radius: 5px;
    font-style: normal;
}

.form a:hover {
    color: rgb(1, 144, 243);
    background-color: #f0f0f0;
    transition: all 0.5s;
}