.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 15px;
    height: 67px;
}

.searchLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.searchLeft .searchIcon {
    padding: 0 10px;
}

.searchLeft input {
    width: 100%;
    padding: 10px;
    padding-left: 0;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
    font-size: 14px;
    color: gray;
    font-weight: 500;
}

.searchLeft input:focus {
    outline: none;
}

.searchRight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.searchRight button {
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    color: gray;
}

.searchRight button:hover {
    background-color: #f0f0f0;
}