.container {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 64px 1fr;
    height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 90, 224);
    padding: 15px 0;
}

.sidebar .menu {
    display: flex;
    flex: 1;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}

.sidebar .menu .menuItem {
    display: block;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.sidebar .menu .menuItem:hover {
    background-color: #0044a8;
    cursor: pointer;
    transition: all 0.5s;
}

.sidebar .menu .menuItem.active {
    background-color: #0044a8;
}

.sidebar .menu .subMenuItemContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    width: 220px;
    height: auto;
    left: 20px;
    bottom: 75px;
    background-color: #ffffff;
    padding: 10px 0;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    opacity: 0;
}

.sidebar .menu .subMenuItemContainer.hidden {
    opacity: 1;
    transition: all 0.5s;
}

.sidebar .menu button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.sidebar .menu button:hover {
    background-color: rgb(231, 231, 231);
    transition: all 0.5s;
}

.sidebar .menu hr {
    height: 1px;
    margin: 2px 0;
    background-color: #e0e0e0;
    border: none;
}

.sidebar .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 20px 0;
    background-image: url('../public/images/avt_default.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.main {
    grid-area: main;
}